@charset "utf-8";
@font-face {
  src: url(../fonts/Brusher.ttf);
  font-family: 'brusher';
}
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat';
  /* font-family: 'Roboto'; */
  /* background-image: -webkit-gradient(linear, left top, right top, from(#004445) , color-stop(#2C786C) ,	to(#31AA6D));
  background-image: linear-gradient(to right, #004445 , #2C786C ,	#31AA6D); */
  /* background-color: #000; */
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 57.8%; 
  margin: 0 auto;
}


/*=================================
  Header styling starts here
=================================*/
.container{
  position: relative;
  background-color: #000;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1% 0;
}

header .wrapper{
  width: 90%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

nav a{
  color: #FFF;
  text-transform: capitalize;
  font-size: 11px;
  padding: 5px 0;
  margin: 0 14px;
}

nav .active a{
  border-bottom: 1px solid #FFF;
}

.hamburger{
  display: none;
}

.contact-button{
  color: #48D494;
  text-transform: uppercase;
  font-size: 9px;
  padding: 7px 14px;
  border: 1px solid #48D494;
  border-radius: 4px;
  margin: 0 3%;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/


/* banner section styling starts */
.banner{
  background: url("https://via.placeholder.com/1351x681") 50% 50% no-repeat;
  background-size: cover;
}

h2{
  color: #FFF;
  text-transform: capitalize;
  font-size: 79px;
  font-weight: 700;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 31.35% 0;
  letter-spacing: -4px;
}
/* banner section styling end */


/* step-up section styling starts */

.step-up{
  color: #FFF;
}

.counters{
  padding: 7% 0 10.5%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.counters figure{
  display: inline-block;
}

.counters > li{
  width: 22%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}

.counters ul{
  width: 50%;
  padding-left: 5%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.counters ul li:first-child{
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 4%;
}

.counters ul li:last-child{
  display: block;
  font-size: 10px;
  color: rgba(255,255,255,0.4);
  text-transform: capitalize;
}

.counters ul li:last-child span{
  display: block;
}

h3{
  font-size: 34px;
  letter-spacing: -1px;
  word-spacing: -1px;
  font-weight: 800;
  color: #48D494;
  text-transform: capitalize;
}

.step-up h3{
  line-height: 40px;
  padding-bottom: 6%;
}

.step-up article{
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.step-up article > div{
  width: 45%;
  padding-top: 3.1%;
}

h3 + p{
  font-size: 12px;
  line-height: 20px;
  color: rgba(255,255,255,0.4);
  padding-bottom: 10%;
}

.step-up article > div a{
  color: #000;
  background-color: #48D494;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 700;
  padding: 4% 5.6%;
  border-radius: 3px;
}
/* step-up section styling end */

/* classes section styling starts */

.classes{
  padding-top: 9.1%;
}
.classes h3{
  padding-bottom: 2.5%;
}

.classes h3 + p{
  width: 50%;
  padding-bottom: 5.7%;
}

.classes-slider{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.classes-slider li{
  min-width: 25%;
}
/* classes section styling end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 540px) {


}  